$color-black1: rgb(0, 0, 0);
$color-black2: rgb(32, 32, 39);
$color-green1: rgb(188, 236, 48);
$color-green2: rgb(225, 255, 143);
$color-green3: rgb(153, 209, 0);
$color-green4: rgb(189, 237, 53);
$color-purple1: rgb(173, 97, 255);
$color-purple2: rgb(39, 26, 88);
$color-blue1: rgb(39, 26, 88);
$color-lavanda1: rgb(86, 94, 239);
$color-orange1: rgb(253, 173, 0);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(247, 247, 247);